<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="style" />
  </head>
  <body>
    <!-- https://codepen.io/jo_Geek/pen/xgbaEr -->

    <h1 class="mt-4">Dashboard</h1>
    <p class="lead mb-3">Welcome <%= name %></p>
    <a href="/users/logout" class="btn btn-secondary">Logout</a>
  </body>
</html>
