<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>store</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>


<body>
<div class="wrapper">
    <div class="one">
{{>header}}
    </div>

    <div class="two prod"><img class="portrait" src="img"></div>
    <div class="three prod"><img class="portrait" src="img"></div>
    <div class="four prod"><img class="portrait" src="img"></div>
    <div class="five prod"><img class="portrait" src="img"></div>
    <div class="six prod"><img class="portrait" src="img"></div>
    <div class="seven prod"><img class="portrait" src="img"></div>
    <div class="eight prod"><img class="portrait" src="img"></div>
    <div class="nine prod"><img class="portrait" src="img"></div>
    <div class="ten prod"><img class="portrait" src="img"></div>

</div>
{{>footer}}
</body>
</html>